// Variables for colors used in the application

// Background
$color-bg-primary: #070C1C;
$color-bg-secondary: #1E2031;
$color-bg-tertiary: #2A2C3D;

// Text
$color-text-primary: #FFFFFF;
$color-text-secondary: #A9A9A9;
$color-text-tertiary: #505261;

// Helper colors
$color-error: #EC3013;
$color-success: #4ADE80;
$color-warning: #E27E04;

// Tints
$color-white-10: #FFFFFF;
$color-error-10: #EC3013;
$color-success-10: #4ADE80;

// Font
$font-primary: var(--font-archivo);