@use "../styles/abstracts/variables";
@use "../styles/abstracts/mixins";
@use "../styles/abstracts/functions";

@use "../styles/base/reset";
@use "../styles/base/typography";

:root {
  --font-primary: var(--font-archivo);
  // Background
  --color-bg-primary: #070c1c;
  --color-bg-secondary: #1e2031;
  --color-bg-tertiary: #2a2c3d;

  // Text
  --color-text-primary: #ffffff;
  --color-text-secondary: #a9a9a9;
  --color-text-tertiary: #505261;

  // Helper colors
  --color-error: #ec3013;
  --color-success: #4ade80;
  --color-warning: #e27e04;

  // Tints
  --color-white-10: #ffffff;
  --color-pink-10: #fdeae7;
  --color-green-10: #edfcf2;

}

body {
  background: var(--color-bg-secondary);
  color: var(--color-text-primary);
  font-family: var(--font-primary);
}